@import url("fonts.css");
/* PARALLAX - .main-container zamijenit će <body>, definiramo ga kako bismo imali "skrolabilni" element */
:root {
  --teal: #23d5ab;
  --blue: #23a6d5;
  --pink: #e73c7e;
  --orange: #ee7752;
  --teal-lighter: hsl(166, 55%, 69%);
  --pink-lighter: hsl(335, 50%, 71%);
  --blue-lighter: hsl(206, 75%, 65%);
  --orange-lighter: hsl(24, 50%, 60%);
  --teal-dimmer: hsl(166, 35%, 25%);
  --pink-dimmer: hsl(335, 35%, 25%);
  --blue-dimmer: hsl(206, 35%, 25%);
  --orange-dimmer: hsl(24, 40%, 33%);
  --teal-darker: hsl(166, 92%, 19%);
  --blue-darker: hsl(196, 92%, 17%);
  --pink-darker: hsl(337, 78%, 22%);
  --orange-darker: hsl(14, 52%, 17%);
  --grey: #333333;
  --grey-darker: #232222;
  --grey-darkest: #1b1b1b;
  --grey-lighter: #4d4d4d;
  --grey-lightest: #666666;

  --main-heading: var(--heading-creative);
  --subheadings: var(--heading-connect);
  --body: var(--text-nunito);
  --body-bolder: var(--text-roboto);
  --pretty: var(--text-pretty);
  --mono: var(--text-mono);
  --link: var(--heading-nice);
  --accent: var(--heading-condensed);
}
body {
  margin: 0;
  padding: 0;
  background-color: var(--grey-darkest);
  font-family: var(--font-text-1);
}
/* S obzirom da ovaj element sadrži čitav sadržaj stranice i pomoću njega gradimo treću dimenziju kako bismo dobili parallax efekt, na njega postavljamo perspektivu; 10px znači da je element "udaljen" od zaslona 10px; to je arbitrarno određena vrijednost potrebna samo kako bismo mogli odrediti relativne vrijednosti koje su nam potrebne da imamo elemente koji su međusobno prividno udaljeni, te zajedno udaljeni od našeg horizonta */
.main-container {
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  perspective: 10px;
}
.parallax-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transform-style: preserve-3d;
  z-index: -1;
}
.background,
.foreground {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}
.background {
  transform: translateZ(-10px) scale(2);
}
.foreground {
  transform: translateZ(-5px) scale(0.95) translateX(-200px) translateY(220px);
  @media (max-width: 1278px) {
    transform: translateZ(-3px) scale(1.6) translateY(200px);
    object-fit: scale-down;
  }
}
.parallax-header h1 {
  position: absolute;
  font-size: 5em;
  text-align: center;
  margin: 2em auto;
  align-self: first baseline;
  font-family: var(--heading-creative), monospace;
  text-rendering: geometricPrecision;
  color: white;
  text-shadow: 6px 6px 20px rgba(19, 18, 18, 0.951);
  transform: translateZ(-2px) scale(1.3);
  @media (max-width: 789px) {
    margin: 2.8em 0;
  }
}
.parallax-header h2 {
  position: absolute;
  font-size: 3em;
  text-align: center;
  align-self: baseline;
  margin: 2em auto;
  font-family: var(--heading-creative), monospace;
  text-rendering: geometricPrecision;
  color: white;
  text-shadow: 6px 6px 20px rgba(19, 18, 18, 0.951);
  transform: translateZ(-1px) scale(1.2);
  @media (max-width: 789px) {
    margin: 3em 0;
  }
}

/* Element <main> sadrži sve što dolazi poslije parallaxa, tj. sve osim parallaxa */
main {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
}

/* Logo (stilizirano slovo M) treba čuvati poziciju bez obzira na skrolanje, ali se scroll-animacijom definira njegova veličina i boja, pa se treba smanjiti i postati transparentan  */

.logo {
  position: sticky;
  z-index: 999;
  top: 0;
  left: 0;
  width: 25%;
  animation: logoGone cubic-bezier(0.18, 0.89, 0.32, 1.28);
  animation-timeline: scroll();
}
.logo img {
  padding: 0;
  margin: 0;
  isolation: isolate;
}

@keyframes logoGone {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0.2;
    transform: translateX(-30px) translateY(-60px) scale-down(0.5);
  }
}

@media screen and (max-width: 782px) {
  .logo {
    position: sticky;
    isolation: isolate;
    z-index: 999;
    top: 0;
    left: 10px;
    width: 30vw;
    animation: logoGoneSM cubic-bezier(0.18, 0.89, 0.32, 1.28);
    animation-timeline: scroll();
  }
}

@keyframes logoGoneSM {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }
  100% {
    opacity: 0.2;
    transform: scaleX(0.5);
    transform: translateX(-10px);
  }
}
.introduction h2 {
  z-index: 1;
  font-family: var(--text-nice);
  font-size: 2rem;
  span {
    font-family: var(--heading-creative);
  }
  em {
    font-style: normal;
    color: #e73c7e;
  }
}

/* Horizontalna traka navigacije postat će sticky tijekom skrolanja, na velikim ekranima, a na malim ekranima bit će hamburger menu koji se otvara kao vertikalni menu */
nav {
  position: sticky;
  z-index: 99;
  top: 0;
  left: 0;
  & ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #232222;
    & li {
      font-family: var(--text-nice);
      font-size: 2rem;
      font-weight: 900;
      color: white;
      text-shadow: 6px 6px 20px #131212f7;
      font-size: 3rem;
      line-height: 2em;
      margin: 0;
    }
  }
}
nav ul li a {
  font-size: 1.4rem;
  text-decoration-line: overline;
  text-decoration-thickness: 2px;
  text-decoration-skip: ink;
  letter-spacing: 0.04em;
}
nav ul li a:link,
a:visited {
  color: white;
}
nav ul li a:hover {
  text-decoration-line: underline;
  background-color: transparent;
}
nav ul li a:active {
  text-decoration-line: underline;
  text-decoration-color: #23d5ab;
}
nav ul li a:nth-of-type(1) {
  text-decoration-color: #ee7752;
}
nav ul li a:nth-of-type(odd) {
  text-decoration-color: #e73c7e;
}
nav ul li a:nth-of-type(even) {
  text-decoration-color: #23a6d5;
}
nav ul li a:nth-last-of-type(3) {
  text-decoration-color: #23d5ab;
}

.sidenav-trigger {
  color: #26a69a;
}
.sidenav ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: first baseline;
  list-style: none;
  width: fit-content;
  padding: 1em;
  margin: 1em 0;
}
/* GLOBAL CLASSES - klase koje će mi se ponavljati kroz sekcije stranice; kako bi stil bio ujednačen */
/* NASLOV SVAKOG DIJELA / SECKCIJE / (ABOUT, SKILLS, PROJECTS, CONTACT)
.container {
  width: 80%;
  margin: 1rem auto;
  padding: 3rem 2rem;
  background-color: #232222;
  border: 5px solid transparent;
  border-radius: 10px;
  box-shadow: 3px 3px 10px 0 rgba(28, 28, 28, 0.834);
  overflow: hidden;
  @media screen and (max-width: 783px) {
    width: 90%;
    padding: 1.5rem 1rem;
  }
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  padding: 2rem;
  margin: 1rem auto;
  @media (max-width: 783px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 1rem;
  }
}*/
section h2 {
  width: 100%;
  font-size: 10em;
  text-align: center;
  padding: 2.2rem 2rem 3rem;
  margin: 3rem auto;
  font-family: var(--font-7), monospace;
  color: #333;
  text-shadow: 1px 1px 0px rgb(255 255 255 / 97%);
  text-rendering: geometricPrecision;
  @media (max-width: 783px) {
    font-size: 8em;
    padding: 3rem 0;
  }
}
.content-btn {
  width: clamp(20%, 100px, 30vw);
  padding: 1rem 2rem;
  margin: 1rem auto;
  font-family: var(--heading-nice), "Trebuchet MS", "Lucida Sans", Arial,
    sans-serif;
  color: var(--teal);
  background-color: #232222ab;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-top-style: groove;
  border-top-color: #333;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-color: #232222;
  border-bottom-style: outset;
  /* ELEMENT KOJI DRŽI TEKSTUALNI SADRŽAJ; CENTRIRA I DAJE MARGINE */
  .wrapper {
    width: 80%;
    margin: 1rem auto;
    padding: 3rem 2rem;
  }
  .wrapper-skills {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: #333;
    color: white;
    font-family: var(--font-text-4);
  }
  .wrapper-skills .row {
    padding: 3rem 8rem;
    margin: 4rem auto;
    p {
      font-size: 1.6rem;
      padding: 3rem 4rem;
      margin: 2rem auto;
    }
  }
  .brand-icon {
    padding: 1rem;
    margin: 1rem auto;
  }
  .text-pink {
    color: #e25a8e;
  }
  .text-blue {
    color: #23a6d5;
  }
  .text-teal {
    color: #23d5ab;
  }
  .text-orange {
    color: #ee7752;
  }
  .mission details {
    padding: 1rem;
    font-family: var(--font-text-2);
    font-size: 0.7em;
    background-color: #232222;
    width: 100%;
    & h3 {
      width: 70%;
      padding: 1em 3em;
      margin: 1em auto;
      font-size: 1.6rem;
      line-height: 1.5;
      @media (max-width: 783px) {
        width: 90%;
        padding: 1em;
      }
      @media (max-width: 994px) {
        width: 85%;
        padding: 1em;
      }
    }
  }
  .mission summary {
    font-size: 3em;
    font-family: var(--font-head-1);
    padding: 1rem;
    margin: 1rem auto;
    cursor: pointer;
    text-decoration-line: underline;
    text-decoration-color: #23d5ab;
    text-decoration-thickness: 0.1em;
    text-decoration-skip-ink: all;
    transition: all ease 0.3s;
    &:hover {
      text-decoration: none;
    }
  }
  /* LIST IN HERO SECTION */
  .hero-list-wrapper {
    width: 80%;
    background-color: #232222;
    padding: 1em;
    margin: 1rem auto;
    border: 10px solid inherit;
    border-radius: 15px;
    @media (max-width: 789px) {
      width: 90%;
      padding: 0;
    }

    & .around-list {
      padding: 1rem 2rem;
      margin: 1rem 0;
      width: 100%;
      & h4 {
        font-family: var(--font-head-2);
        font-size: 2.5rem;
        color: #e25a8e;
        padding: 2.4rem;
        margin: 0 auto;
        text-align: center;
      }
    }
    & .hero-list {
      width: 90%;
      padding: 1em 2em;
      margin: 0 auto;
      @media (max-width: 783px) {
        width: 100%;
        padding: 0;
      }
      & ul {
        padding: 2rem 1rem;
        margin: 0 auto;
        text-align: center;
        & i {
          font-size: 4rem;
          padding: 1rem;
          @media (max-width: 783px) {
            font-size: 3rem;
          }
        }
        & li {
          font-size: 1.6rem;
          font-family: var(--text-sans);
          color: white;
          text-rendering: geometricPrecision;
          text-align: center;
          vertical-align: top;
          line-height: 0.8;
          padding: 1rem 1.2rem;
        }
      }
    }

    button {
      background-color: #23d5ab;
      color: white;
      font-size: 1.2rem;
      font-family: var(--font-text-1);
      padding: 0.8rem 1.2rem;
      margin: 1rem auto;
      border: 3px outset #333;
      border-radius: 15px;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #1a977a;
        color: rgb(192, 187, 187);
        transform: scale(0.95);
        &:active {
          border: 3px inset #333;
          transform: scale(0.95);
        }
      }
    }

    /* LIST IN HERO SECTION */
    .hero-list-wrapper {
      background-color: #333;
      width: 80vw;
      margin: 1rem auto;
      padding: 1rem;
      border: 5px solid #232222;
      border-radius: 10px;
      box-shadow: 3px 3px 10px 0 rgba(28, 28, 28, 0.834);
      overflow: hidden;
      @media (max-width: 783px) {
        width: 90%;
      }
      & .before-list h4 {
        font-family: var(--font-head-2);
        font-size: 2.5rem;
        color: #23d5ab;
        padding: 1rem;
      }
    }
  }

  .icon-block {
    padding: 0 15px;
  }
  .icon-block .material-icons {
    font-size: inherit;
  }

  .hero button {
    background-color: #e73c7e;
    color: white;
  }

  .skills row {
    background-color: #232222;
  }
  .icon-block {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    padding: 1em 2em;
    margin: 1em 3em;
  }
  .icon-block p {
    font-family: var(--font-text-2);
    width: 85%;
  }
  .icon-block img {
    max-width: 128px;
  }
  #skills .row {
    width: 100vw;
    padding: 0;
    margin: 0;
    background-color: rgb(15, 16, 16);
  }

  #projects * .project-card {
    width: 70%;
    padding: 1rem 2rem;
    margin: 3rem auto;
    background-color: #232222;
    border: 5px solid transparent;
    border-radius: 10px;
    box-shadow: 3px 3px 10px 0 rgba(28, 28, 28, 0.834);
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    @media (max-width: 783px) {
      width: 90%;
    }
    & .card-banner {
      width: 100%;
      height: 20%;
      background-color: #232222;
      border: 3px solid inherit;
      border-radius: 5px;

      & label {
        font-family: var(--font-text-4);
        font-size: 1.2rem;
        color: white;
      }
      & button {
        background-color: #23d5ab;
        color: white;
        font-size: 1.2rem;
        font-family: var(--font-text-1);
        padding: 0.8rem 1.2rem;
        border: 3px outset #333;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #1a977a;
          color: rgb(192, 187, 187);

          transform: scale(0.95);
          &:active {
            border: 3px inset #333;
            transform: scale(0.95);
          }
        }
      }
    }
    .image-text {
      text-align: left;
      color: white;
    }
  }
  #contact {
    background-color: #232222;
    border: 15px solid #232222;
    border-radius: 15px;
    padding: 1em 2em;
    margin: 1em auto;
    width: 75%;
    & h2 {
      font-family: var(--font-head-1);
      font-size: 3rem;
      font-weight: 500;
      color: #23a6d5;
    }
    & form {
      width: 100%;
      @media (max-width: 783px) {
        width: 90%;
      }
      @media (max-width: 600px) {
        width: 100%;
        padding: 0;
        margin: 0;
      }
      & label {
        font-family: var(--font-text-4);
        font-size: 1.2rem;
        color: white;
      }
      & input[type="text"],
      input[type="email"],
      input[type="tel"],
      input[type="textarea"] {
        width: 100%;
        padding: 0.6rem;
        margin: 1rem 0;
        border: 3px solid #23a6d5;
        border-radius: 5px;
        background-color: #9493938b;
        color: white;
        font-family: var(--font-text-1);
        font-size: 1.2rem;
      }
      & textarea {
        max-width: 100%;
        padding: 0.6rem;
        margin: 1rem 0;
        border: 3px solid #181717;
        border-radius: 5px;
        background-color: #2322228b;
        color: white;
        font-family: var(--font-text-1);
        font-size: 1.2rem;
      }
      & button {
        background-color: #e73c7e;
        color: white;
        font-size: 1.2rem;
        text-align: center;
        justify-content: center;
        vertical-align: middle;
        font-family: var(--font-text-1);
        padding: 2rem 2rem;
        border: 3px outset #333;
        border-radius: 15px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: #631734;
          color: rgb(192, 187, 187);

          transform: scale(0.95);
          &:active {
            border: 3px inset #333;
            transform: scale(0.95);
          }
        }
      }
    }
  }
  #toTopBtnn {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 99;
    font-size: 2.5em;
    background-color: white;
    color: #e73c7e;
    border: 3px solid #e73c7e;
    outline: 2px ridge #232222;
    padding: 0.5rem 1rem;
    margin: 1rem;
    text-transform: uppercase;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #232222;
    color: white;
    font-family: var(--font-text-1);
    font-size: 1.4rem;
    padding: 1rem;
    margin: 2rem auto;
    width: 100%;
    & h4 {
      font-family: var(--font-head-2);
      font-weight: 700;
    }
    & i {
      color: #23d5ab;
      margin: 1rem 1.4rem;
      text-decoration: none;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: #0f10109c;
      }
      &:first-of-type {
        color: #ee7752;
      }
      &:nth-of-type(2) {
        color: #e73c7e;
      }
      &:nth-of-type(3) {
        color: #23a6d5;
      }
      &:nth-of-type(4) {
        color: #23d5ab;
      }
    }
  }
}
