@import url("variables.css");
@import url("base.css");

/* ============== NAVIGATION ================ */
header .wrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 0;
	margin: auto;
}
header img {
	position: fixed;
	top: 0;
	left: 0;
	width: 200px;
	max-width: 50%;
	transition: 0.2s ease-in-out;
	z-index: 100;
}

header .navbar {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	margin: auto;
	animation: loadAnimation 2s;
}
header .navbar .nav-link {
	display: inline-block;
	font-family: var(--ff-code-text);
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5;
	color: var(--clr-third-10);
	text-shadow: var(--text-shadow);
	cursor: pointer;
	margin: 0;
	outline: none;
	padding: 0.5rem 1rem;
	text-align: center;
	text-decoration: none;
	transition: 0.2s ease-in-out;
}
header .navbar .nav-link a:hover,
header .navbar .nav-link a:active {
	color: var(--clr-third-40);
	transition: 0.2s ease-in;
}
header .navbar .nav-link a:link,
header .navbar .nav-link a:focus header .navbar .nav-link a:visited {
	color: var(--clr-white-20);
	outline: none;
}
header .navbar .nav-link a:disabled {
	color: var(--clr-greys-120);
	cursor: not-allowed;
	transition: 0.2s ease-in-out;
}

header .navbar ul li + li {
	margin-left: 1rem;
}

@media only screen and (min-width: 601px) {
	nav.nav-extended .nav-wrapper {
		min-height: 64px;
	}
	nav,
	nav .nav-wrapper i,
	nav a.sidenav-trigger,
	nav a.sidenav-trigger i {
		height: 64px;
		line-height: 64px;
	}
	.navbar-fixed {
		height: 64px;
	}
}
I II .collapsible {
	border-top: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	margin: 0.5rem 0 1rem 0;
}

.collapsible-header {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	line-height: 1.5;
	padding: 1rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
}

.collapsible-header:focus {
	outline: 0;
}

.collapsible-header i {
	width: 2rem;
	font-size: 1.6rem;
	display: inline-block;
	text-align: center;
	margin-right: 1rem;
}

.keyboard-focused .collapsible-header:focus {
	background-color: #eee;
}

.collapsible-body {
	display: none;
	border-bottom: 1px solid #ddd;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2rem;
}

.sidenav .collapsible,
.sidenav.fixed .collapsible {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.sidenav .collapsible li,
.sidenav.fixed .collapsible li {
	padding: 0;
}

.sidenav .collapsible-header,
.sidenav.fixed .collapsible-header {
	background-color: transparent;
	border: none;
	line-height: inherit;
	height: inherit;
	padding: 0 16px;
}

.sidenav .collapsible-header:hover,
.sidenav.fixed .collapsible-header:hover {
	background-color: rgba(0, 0, 0, 0.05);
}

.sidenav .collapsible-header i,
.sidenav.fixed .collapsible-header i {
	line-height: inherit;
}

.sidenav .collapsible-body,
.sidenav.fixed .collapsible-body {
	border: 0;
	background-color: #fff;
}

.sidenav .collapsible-body li a,
.sidenav.fixed .collapsible-body li a {
	padding: 0 23.5px 0 31px;
}

.collapsible.popout {
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.collapsible.popout > li {
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
		0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	margin: 0 24px;
	-webkit-transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: margin 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.collapsible.popout > li.active {
	-webkit-box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
		0 4px 15px 0 rgba(0, 0, 0, 0.15);
	box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
	margin: 16px 0;
}
/* ============== MOBILE NAV  ================ */
header nav {
	position: absolute;
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: end;
	z-index: 4;
	padding: 30px 100px;
	font-size: 22px;
	animation: loadAnimation 2s;
}
header nav span {
	width: 50%;
	display: flex;
	justify-content: space-around;
}
header nav span a {
	text-decoration: none;
	position: relative;
}
header nav span a::before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: var(--clr-white-20);
	display: unset;
	border-radius: 20px;
	bottom: -5px;
	transition: 0.3s;
}
header nav span a:hover::before {
	width: 100%;
}

#about {
	background-color: var(--clr-gradient-main-dark);
	padding: 0px 100px;
	min-height: 100vh;
	font-size: 20px;
}
#about h2 {
	padding-top: 50px;
	font-size: 40px;
}
#about p {
	padding: 30px 0px;
}
.active {
	color: var(--clr-grey-100);
}
.active::before {
	background-color: var(--clr-grey-100);
	width: 100%;
}
/* ============== projects ================ */
#projects {
	/*background-color: var(--clr-gradient-bg);
	border: 2px solid blue;
}

#projects > * {
	border: 1px dotted red;
}
#projects > * > * {
	border: 1x solid green;
}
#projects .container {
	container-type: block;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
	grid-gap: 1rem;
}
#projects .project-card {
	background-color: transparent;
	min-width: 330px;
	width: 30cgw;
	height: auto;
	perspective: 1000px;
}

.project-title {
	font-size: 1.5em;
	font-weight: 900;
	text-align: center;
	margin: 0;
}

.inner-card {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.8s;
	transform-style: preserve-3d;
	cursor: pointer;
}

.project-card:hover .inner-card {
	transform: rotateY(180deg);
}

.front-side,
.back-side {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border: 1px solid rgba(255, 255, 255, 0.8);
	border-radius: 1rem;
	color: white;
	box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
	font-weight: 700;
}

.front-side,
.front-side::before {
	background: linear-gradient(
		43deg,
		rgb(65, 88, 208) 0%,
		rgb(200, 80, 192) 46%,
		rgb(255, 204, 112) 100%
	);
}

.back-side,
.back-side::before {
	background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
}

.back-side {
	transform: rotateY(180deg);
}

.front-side::before,
.back-side::before {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	content: "";
	width: 110%;
	height: 110%;
	position: absolute;
	z-index: -1;
	border-radius: 1em;
	filter: blur(20px);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {
		opacity: 0.3;
	}

	80% {
		opacity: 1;
	}

	100% {
		opacity: 0.3;
	}
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}